<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finedustrpg">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dustchara_removed"
        android:label="FineDustRPG"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Map"></activity>
        <activity android:name=".Settings" />
        <activity android:name=".Stronger" />
        <activity android:name=".main" />
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>